@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Unit #157, Oshiwara Industrial Center<br />
    New Link Road, Goregaon (W)<br />
    Mumbai, Pincode: 400104 INDIA<br />
    <abbr title="Phone">P:</abbr>
    +91-22-28797511/14
</address>

<address>
    <strong>EMAIL:</strong> <a href="mailto:haresh_m@markss.com">haresh_m@markss.com</a><br />
    
</address>
