@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    MARKSS INFOTECH LIMITED<br />
    70B, KCIEL, Post Office Lane<br />
    Charkop Kandivali (w),<br />
    Mumbai – 400067.<br />
    Maharashtra<br />
    India<br />
    <abbr title="Phone"></abbr>
    +91-22-28690268/69/70
</address>

<address>
    <strong>EMAIL:</strong> <a href="mailto:haresh_m@markss.com">haresh_m@markss.com</a><br />
    
</address>
